.main {
  display: flex;
  height: 450px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20vh;
}

* {
  font-family: Arial;
  font-size: 14px;
}

.links {
  display: flex;
  gap: 50px;
  padding-top: 7vh;
}
.rightDiv {
  width: min-content;
  height: 100%;
}
.rightDiv img {
  width: 100px;
}
a {
  cursor: pointer;
}
#moreinfosvg {
  margin-top: 30px;
}
.imageCarousel {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  max-height: 100%;
  gap: 20px;
  width: 700px;
}
.moreInfo {
  width: 50%;
}
a {
  color: inherit;
}
.imageCarousel::-webkit-scrollbar {
  width: 12px;
  margin: 10px;
}

.imageCarousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.imageCarousel::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.imageCarousel::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.heroImage {
  width: 100%;
}
.scrollDown {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .main {
    flex-wrap: wrap-reverse;
    height: fit-content;
    position: relative;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
  }
  .moreInfo {
    width: auto;
  }
  .imageCarousel,
  .imageCarousel img {
    width: 100%;
    height: max-content;
  }
  .links {
    padding-top: 50px;
  }

  .cropDiv {
    overflow: hidden;
    width: auto;
    display: flex !important;
    align-items: flex-start !important;
  }

  .heroImage {
    width: auto;
    height: 500px !important;
    object-fit: cover;
    object-position: -80px 0px;
  }
  .rightDiv {
    height: 70vh;
    padding: 30px;
  }
  .scrollDown {
    display: block;
    margin-top: 20%;
  }
  .moreInfo {
    padding: 30px;
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
  }
  .rightDiv {
    color: #fff;
  }
  .moreInfo {
    color: #fff;
  }
  .links {
    filter: invert(1);
  }
  .imageCarousel::-webkit-scrollbar {
    width: 12px;
    margin: 10px;
  }

  .imageCarousel::-webkit-scrollbar-track {
    background: #28282b;
  }

  .imageCarousel::-webkit-scrollbar-thumb {
    background: #505050;
  }

  .imageCarousel::-webkit-scrollbar-thumb:hover {
    background: #575758;
  }
}
